.navbar{
    display: flex;
    width: 100%;
    padding: 0 40px;

    &__container{
        display: flex;
        width: 100%;
        height: 90px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(184, 184, 184);

        &-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            
            &__title{
                font-weight: 500;
                margin-top: 10px;
                font-size: 20px;
            }
            &__img{
                width: 70px;
                height: 70px;
            }
        }
        &-element{
            font-size: 12px;
            font-weight: 600;
            border-bottom: 2px solid rgb(255, 255, 255);
            padding: 0 0 1px 0;

            &:hover{
                border-bottom: 2px solid rgb(126, 126, 126);

            }
        }
        
    }
}