.age {
    padding: 5%;
    text-align: center;
    font-size: 16px;
  }
  .party-popper {
    width: 200px;
    height: 200px;
  }
  .fade {
    animation-name: fade-in;
    animation-duration: 2s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  
  .age-stats {
    opacity: 100;
  }

  .age__title{
    font-size: 48px;
    font-weight: 600;
  }

  .age__form{
    background: #4d5d6c;

    padding: 60px 20px; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 40px 0;
    &-calendar{
      padding: 16px 50px;
      border: none;
      border-radius: 15px;
      display: flex;
      gap: 4em;
      font-size: 20px;
      background-color: #f4f4f4;

    }
    &-btn{
      padding: 16px 50px;
      border: none;
      border-radius: 15px;
      display: flex;
      gap: 4em;
      font-size: 20px;
      background-color: #f4f4f4;

    }
  }


  .age__stats{
    padding: 10px 20px 30px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
    &-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4em;

      &__item{
        padding: 40px 40px 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        background-color: #4d5d6c;
        color: white;
        font-weight: 500;

        &-text{
          margin-top: 10px;
        }
      }
    }
  }